*{
    margin: 0%;
    padding: 0%;
}
body {
    background: linear-gradient(to right,#2e23cc,#6372c4,#409183,#23e7e7)
}
.cabecalho {
    background-color: antiquewhite;
    padding: 30px;
}
h1{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 30px;
}